* {
    font-family: 'Barlow';
    margin: 0;
    padding: 0;
}
#cart {
    width: 100%;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
}

.outer-menu-order {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    
}
.intro-menu-order {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
        width: 100%;
}
.upper-menu-order {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
        width: 100%;

}

.inner-menu-order {
    display: flex;
    width: 100%;
    
}

.menu-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.bottom-menu-order{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
        width: 100%;
}

hr {
    width: 100%;
    border: none;
    border-top: 1px solid black;
    margin: 10px 0;
}